In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv(r"E:\DataScience\sneha-team-sentinels\Team-38\ML-model\ytcomm.csv")

In [3]:
df.shape

(35057, 5)

In [4]:
df

,author,published_at,updated_at,like_count,text
0,Sandeep Maheshwari,2021-07-29T12:45:14Z,2021-07-29T12:45:14Z,35773.0,This video has entered the Guinness World Reco...
1,Dheeru Kushwaha,2023-09-16T19:06:35Z,2023-09-16T19:06:35Z,0.0,Life changing seminaar‚ù§‚ù§‚ù§
2,Official Rajput Ankit,2023-09-16T17:59:13Z,2023-09-16T17:59:13Z,1.0,I watch this complete video years 2023 And you...
3,ABHISHEK P‚ÇπINCE üñ§,2023-09-16T17:53:18Z,2023-09-16T17:53:18Z,0.0,Not the last it&#39;s start... ‚ù§
4,Rishi Bro,2023-09-16T17:42:22Z,2023-09-16T17:42:22Z,0.0,Thank you for this seminar
...,...,...,...,...,...
35052,Apoorv Mangla,2012-11-23T18:55:52Z,2012-11-23T18:55:52Z,0.0,"kehna aasan hai aur karna, aur bhi aasan hai!!..."
35053,azad raj,2012-11-23T18:55:04Z,2012-11-23T18:55:04Z,0.0,thanx sir\n
35054,GAGANDEEP JAKHU,2012-11-23T18:47:19Z,2012-11-23T18:47:19Z,0.0,:)
35055,tushar tohan,2012-11-23T18:46:49Z,2012-11-23T18:46:49Z,0.0,"aasaan hai . thank u for uploading it sir ,"
35056,Amar Goud,2012-11-23T18:46:13Z,2012-11-23T18:46:13Z,0.0,love you sir\n

In [5]:
new_df=df.iloc[:,4:]

In [6]:
 new_df.isnull().sum()

text    25
dtype: int64

In [7]:
new_df=new_df.dropna()

In [8]:
new_df.isnull().sum()

text    0
dtype: int64

In [9]:
new_df.duplicated().sum()

3746

In [10]:
new_df=new_df.drop_duplicates()

In [11]:
new_df.duplicated().sum()

0

In [12]:
new_df=new_df[:20000]

In [13]:
new_column_name = ['reviews']
new_df.columns = new_column_name

In [14]:
#new_df['reviews'] = new_df['reviews'].apply(lambda x: str(x) if pd.notna(x) else '')

In [15]:
new_df

                                                 reviews
0      This video has entered the Guinness World Reco...
1                              Life changing seminaar‚ù§‚ù§‚ù§
2      I watch this complete video years 2023 And you...
3                       Not the last it&#39;s start... ‚ù§
4                             Thank you for this seminar
...                                                  ...
22389                      Seriously yar kya banda hai üòç
22390                                             Nicely
22391                Sir apka seminar kha kha hota hi...
22392  I love you sir bht mast saminar tha. duniya ba...
22393                         Who watching 2 more times?

[20000 rows x 1 columns]

In [16]:
import re
def remove_html_tags(text):
    #if isinstance(text, str):
    pattern=re.compile('<.*?>')
    return pattern.sub(r'',text)
    #else:
    #return text

In [17]:
def tolowercase(df):
    #Convert all string to Lower Case
    df['reviews']=df['reviews'].str.lower()
    return df

In [18]:
import re
def remove_urls(text):
     #Remove URLS
     #if pd.notna(text) and isinstance(text, str):
     pattern=re.compile(r'https?://\S+|www\.\S+')
     return pattern.sub(r'',text)

In [19]:
import string
exclude=string.punctuation

In [20]:
    def remove_punctuation(text):
      translator = str.maketrans('', '', string.punctuation)
      return text.translate(translator)

In [21]:
from mtranslate import translate
def translation(text):
    translated_sentence = translate(text, 'en')
    return translated_sentence

In [22]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\SNEHA\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [23]:
new_df.head(15)

                                              reviews
0   This video has entered the Guinness World Reco...
1                           Life changing seminaar‚ù§‚ù§‚ù§
2   I watch this complete video years 2023 And you...
3                    Not the last it&#39;s start... ‚ù§
4                          Thank you for this seminar
5   ‚ù§‚ù§‡§á‡§∏ ‡§ï‡§≤‡§Ø‡•Å‡§ó ‡§Æ‡•á‡§Ç ‡§∏‡§Ç‡§§ ‡§∞‡§æ‡§Æ‡§™‡§æ‡§≤ ‡§ú‡•Ä ‡§Æ‡§π‡§æ‡§∞‡§æ‡§ú ‡§π‡•Ä ‡§™‡•Ç‡§∞‡•ç‡§£ ‡§ó...
6                     Kon kon 2023 mein dekh raha heü§ç
7   <a href="https://www.youtube.com/watch?v=eDiA1...
8                                        Love that‚ù§‚ù§‚ù§
9                     Kaun kaun 2023 me dekh Raha hai
10  I learnt life changing things from you sir you...
11                                 I love sandeep sir
12                                  Mera zxy aaya tha
13  jo bhi log10 saal se apko dekh rhe hai definit...
14                                      Thank you sir

In [24]:
def remove_numbers(text):
    return re.sub(r'\d+','',text)

In [25]:
    def preprocess_text(df):
         df['reviews']=df['reviews'].apply(remove_html_tags)
         df=tolowercase(df)
         df['reviews']= df['reviews'].apply(remove_urls)
        
         df['reviews']=df['reviews'].apply(remove_punctuation)
         sw_list=stopwords.words('english')
         #df['reviews']=df['reviews'].apply(translation)
         df['reviews'] = df['reviews'].apply(lambda x: [item for item in x.split() if item not in sw_list]).apply(lambda x:" ".join(x))
         return df

In [26]:
preprocessed_test_df=preprocess_text(new_df)

In [27]:
preprocessed_test_df

                                                 reviews
0      video entered guinness world records world39s ...
1                              life changing seminaar‚ù§‚ù§‚ù§
2                   watch complete video years 2023 guys
3                                     last it39s start ‚ù§
4                                          thank seminar
...                                                  ...
22389                      seriously yar kya banda hai üòç
22390                                             nicely
22391                   sir apka seminar kha kha hota hi
22392  love sir bht mast saminar tha duniya badlegi j...
22393                                   watching 2 times

[20000 rows x 1 columns]

In [28]:
import nltk.data
print(nltk.data.path)

['C:\\Users\\SNEHA/nltk_data', 'C:\\Users\\SNEHA\\AppData\\Local\\Programs\\Python\\Python311\\nltk_data', 'C:\\Users\\SNEHA\\AppData\\Local\\Programs\\Python\\Python311\\share\\nltk_data', 'C:\\Users\\SNEHA\\AppData\\Local\\Programs\\Python\\Python311\\lib\\nltk_data', 'C:\\Users\\SNEHA\\AppData\\Roaming\\nltk_data', 'C:\\nltk_data', 'D:\\nltk_data', 'E:\\nltk_data']

In [29]:
nltk.data.path.append('C:\\Users\\SNEHA/nltk_data')

In [30]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\SNEHA\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [31]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sia=SentimentIntensityAnalyzer()
results=[]
for line in preprocessed_test_df['reviews']:
  pol_score=sia.polarity_scores(line)
  pol_score['reviews']= line
  results.append(pol_score)

In [32]:
label_df=pd.DataFrame.from_records(results)

In [33]:
label_df.head()

,neg,neu,pos,compound,reviews
0,0.0,0.780,0.220,0.4767,video entered guinness world records world39s ...
1,0.0,1.000,0.000,0.0000,life changing seminaar‚ù§‚ù§‚ù§
2,0.0,1.000,0.000,0.0000,watch complete video years 2023 guys
3,0.0,1.000,0.000,0.0000,last it39s start ‚ù§
4,0.0,0.286,0.714,0.3612,thank seminar

In [34]:
label_df['label']=0
label_df.loc[label_df['compound']>0.2, 'label']=1
label_df.loc[label_df['compound']<-0.2, 'label']=-1

In [35]:
label_df.head()

,neg,neu,pos,compound,reviews,label
0,0.0,0.780,0.220,0.4767,video entered guinness world records world39s ...,1
1,0.0,1.000,0.000,0.0000,life changing seminaar‚ù§‚ù§‚ù§,0
2,0.0,1.000,0.000,0.0000,watch complete video years 2023 guys,0
3,0.0,1.000,0.000,0.0000,last it39s start ‚ù§,0
4,0.0,0.286,0.714,0.3612,thank seminar,1

In [36]:
label_df=label_df.iloc[:,4:]

In [37]:
label_df

                                                 reviews  label
0      video entered guinness world records world39s ...      1
1                              life changing seminaar‚ù§‚ù§‚ù§      0
2                   watch complete video years 2023 guys      0
3                                     last it39s start ‚ù§      0
4                                          thank seminar      1
...                                                  ...    ...
19995                      seriously yar kya banda hai üòç      0
19996                                             nicely      1
19997                   sir apka seminar kha kha hota hi      0
19998  love sir bht mast saminar tha duniya badlegi j...      1
19999                                   watching 2 times      0

[20000 rows x 2 columns]

In [38]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

In [39]:
# import random
# def word_shuffle(text, n=1):
#     words=text.split()
#     for _ in range(n):
#         random.shuffle(words)
#     return ''.join(words)

In [40]:
# augmented_df=[word_shuffle(text, n=100) for text in label_df]
# #combined_df=label_df+augmented_df

In [41]:
# augmented_df

In [42]:
X=label_df.iloc[:,0:1]
Y=label_df['label']

In [43]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=35)

In [44]:
X_train.shape

(16000, 1)

In [45]:
X_train

                                                 reviews
3652                                        2022 october
53                                watching 2023 ‚ù§‚ù§‚ù§‚ù§üëâüëâüëâüëâ
8195   sir es dunia mein koe bhuka nhi soega kuyki aa...
8015                                        love sir üôèüôèüôè
10560  bollywood please make film called sandeep mahe...
...                                                  ...
19391                            91 k dislike kisne kiye
15393  ‡§™‡•ç‡§≤‡•Ä‡§ú ‡§Ü‡§™ ‡§Æ‡•á‡§∞‡§æ ‡§Ø‡•Ç‡§ü‡•ç‡§Ø‡•Ç‡§¨ ‡§ö‡•à‡§®‡§≤ ‡§∏‡§¨‡•ç‡§∏‡§ï‡•ç‡§∞‡§æ‡§á‡§¨ ‡§ï‡§∞ ‡§¶‡•ã‡§Æ‡•à‡§Ç...
9143                         congratulations sir ji üòÅüåπüí™üëç
17679                        right sir 100me se 100right
5833                                         respect sir

[16000 rows x 1 columns]

In [46]:
X_test.shape

(4000, 1)

In [47]:
cv=CountVectorizer()

In [48]:
X_train_bow = cv.fit_transform(X_train['reviews'].values.astype('U')).toarray()
import joblib
joblib.dump(cv, "vectorizer_1.pkl")
X_test_bow=cv.transform(X_test['reviews']).toarray()

In [49]:
model=RandomForestClassifier()
model.fit(X_train_bow, Y_train)

RandomForestClassifier()

In [50]:
Y_pred=model.predict(X_test_bow)
accuracy_score(Y_test, Y_pred)*100

91.225

In [51]:
import pickle

In [52]:
with open('model_test_1.pkl','wb') as file:
  pickle.dump(model, file)

In [53]:
Y_pred

array([1, 0, 1, ..., 0, 1, 1], dtype=int64)